<style>
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
p{
    color : gray;
}
div{
    color : white;
    background-color: black;
}
span{
    font-size: 18px;
    font-weight: bold;
}